.actions {
    align-self: stretch;
    position: relative;
    display: flex;
    align-items: center;

    &__lines {
        content: "";
        position: absolute;
        display: block;
        border-left: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        width: 24px;
        height: 60px;
        transform: translate(-6px, -50%);
    }

    &__toolbar {
        position: relative;
        display: flex;
        gap: 2px;
        padding: 2px;
        background-color: #414144;
        border-radius: 6px;
        z-index: 1;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        cursor: pointer;
        color: #7890b2;
        border-radius: 4px;

        &_delete {
            color: #df4444;
        }
    }
}
